body{
    margin: 0px;
    font-family: 'Fira Sans', Arial, sans-serif;
    color: #141414;
    margin-bottom: 1000px;
}

h1,
h2,
h3,
p{
    margin: 0px;
}

ul{
    margin:0px;
    padding: 0px;
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}
.subtitulo{
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    max-width: 4ch;
    word-break: break-all;
}

@media (max-width: 800px) {
   .subtitulo{
    font-size: 3rem;
    text-transform: capitalize;
    max-width:  initial !important;
   } 
}

#btn-topo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #2a2a2a;
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
  }
  
  #btn-topo {
    background-color: #00264d;
    color: #d4d4d4;
  }
  